<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <section id="main">
          <% if(path == "index.html"){ %>
            <%- partial('_partial/index-card') %>
          <% } %>
          <% if(path.split("/")[0] == "authors"){ %>
            <%- partial('_partial/author') %>
          <% } %>
          <% if(path.split("/")[0] == "tags"){ %>
            <%- partial('_partial/tag') %>
          <% } %>
          <%- body %>
        </section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
